
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.header-main{
   
    max-width: 1453px;
    margin: auto;
     background-color: rgba(255, 144, 14, 0.1);
     
}


/* Shared color */


/* color */
.text-gray{
    color: #A1A1A1;
    filter: grayscale(100%);
}

.text-black{
    color: black;
    filter: brightness(0);
}

.text-orange{
    color: #FF900E ;
}



.navbar{
   
    
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
   
     
}


.Brand{
    font-weight: 700px;
    font-size: 3rem;
}

.nav-link{
    display: flex;
    gap: 30px;
   text-decoration: none;
   
  
}


.nav-item{
    list-style: none;
    text-decoration: none;
}


.banner{
   
    
}

.banner-content{
    max-width: 862px;
   margin: auto;
   text-align: center;

}
.banner-title{
    font-weight: bold;
    font-size: 64px;
    
}

.btn-primary{
    width: 180px;
    height: 64px;
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(255, 144, 14, 1);
    margin-top: 20px;
    border-radius: 8px;
    margin-bottom: 50px;
    border: none;
}
.banner-img{
    width: 100%;
}



/* team section statrt here */

.team-section{
    
    max-width: 1440px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 55px;
   
    
}


.team-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}



.our-feature{
 
 max-width: 537px;
 margin: auto;
}

.feature-title{
    font-size: 50px;
}



/* Feature will enjoy section */


.Features{
    
    max-width:1400px;;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    gap: 122px;
}

#border-left{
    border-left: 5px solid #FF900E;
     
}

.feature-title{
    padding-left: 30px;
   

}

.feature-description{
    color: #A1A1A1;
    
}

.img{
    width: 100%;
    height: auto;
}




#Experience-badge{
  width: 342px;
  height: 200px;
  margin-left: -90px;
  margin-top: -120px;
}

#Experience-Year{
 font-size: 50px;
 font-weight: bolder;
}


.card-div{
    /* border: 3px solid blue; */
    margin-top: 22px;
    max-width: 586px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
   background: rgba(255, 255, 255, 1);
   padding: 30px;
}

.card-description{
    color: #A1A1A1;
    
}



 /* some fect section start Here  */

 .Icon-section{
    
    max-width:1400px;;
    margin: auto;
    margin-top: 130px;


 }

 .Icon-Title{
    font-size: 35px;
 }

.Icon-Description{
    color: #A1A1A1;
}

.Icon-Parent-div{
    display: flex;
    gap: 120px;
}



.Icon-div{
   border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    text-align: center;
    margin-top: 60px;
    border-radius: 8px;

    
}

.Icon-img{
    padding-top: 50px;
}

.Icon-Awards{
    color: #A1A1A1;
}



/* Our-Sponspors Section start here */

.Our-Spons{
    
    
    max-width:1400px;;
    margin: auto;
    margin-top: 150px;

}

.Sponspors-child-one{
    text-align: center;
}

.sponsors-title{
    font-size: 40px;
}

.sponsors-description{
    color: #A1A1A1;
}


 /* understanding part for me */

.Sponspors-img{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   margin-top: 30px;
    
}


/* Fopoter section start here */


.Footer{
    
    max-width:1400px;;
    height: 50px;
    margin: auto;
    margin-top: 150px;
   
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    background-color: #FFF4E7;
}



/* responsive media query */
@media screen and (max-width:576px){
    .navbar, .nav-link, .team-img, 
    .team-section,
    .Features,
    .Icon-Parent-div{
       flex-direction: column;
      

    }
   


    .team-img{
        grid-template-columns: repeat(1,1fr);
    }

.Architect-img{
    grid-template-columns: repeat(1,1fr);
}

.Sponspors-img{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap: 30px;
}




.Features{
    margin-top: -50px;
}

.feature-description{
    text-align: start;
    padding-left: 15px;
}
    .our-feature{
        
        text-align: center;
        margin: 25px;

    }

    #Experience-badge{
        margin-top: 20px;
       margin-left: 10px;
       
    }

    .Icon-section{
        margin-top: -10px;
    }
   
     .Icon-Parent-div{
        padding-left: 76px;
        gap: 10px;
    }

   .Icon-Description{
    margin-left: 50px;
   }

   .Icon-Title{
    margin-left: 50px;
   }


    
}


/* medium size device  */
@media  screen and (min-width: 576px) and (max-width: 992px)  { 
    .team-section , .Features, .Icon-Parent-div{
        flex-direction: column;
    }
    .our-feature{
        text-align: center;
    }

    #Experience-badge{
        margin-top: 50px;
        margin-left: 266px;
        
        
    }

    .Icon-Parent-div{
        align-items: center;
        
    }

    .Some-fact{
        text-align: center;
    }

    .Sponspors-img{
        grid-template-columns: repeat( 2, 1fr);
        justify-items: center;
        gap: 30px;
        margin-top: 80px;
        
    }
}



